html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video | {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    box-sizing: border-box;
}

/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/inika-v21-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inika-v21-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-700 - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inika-v21-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inika-v21-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    display: block;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

img {
    vertical-align: top;
}

ol,
ul {
    list-style: none;
}

.wrapper {
    max-width: 1220px;
    margin: 0 auto;

}



/* Header styles start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    background: #EDF2EC;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    z-index: 999;
}



.header_active {

    background: #EDF2EC;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 42px;

}

.header__logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -6px;
}

.header__logo-text {
    font-family: "Inika", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #010201;
}

.header__list {
    display: flex;
    flex-wrap: wrap;

}

.header__item {
    list-style-type: none;
    margin-right: 47px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    text-decoration: none;
    color: #010201;
    font-family: "Inika", Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
    transition-duration: 0.5s;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: .75;
    color: #E06733;
}

.header__burger {
    width: 40px;
    height: 26px;
    position: relative;
    display: none;
    margin-right: 5px;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #717171;
    position: absolute;
    left: 0;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 66.6%;
    transform: translateY(-50%);
}

.burger__line_third {
    top: 33.3%;
    transform: translateY(-50%);
}


.burger__line_four {
    bottom: 0;
}

/* Header styles end */


/* welcome styles start */

.welcome {
    background-color: #EDF2EC;
    margin-bottom: 160px;
}

.welcome__wel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 122px;
    padding-top: 194px;
    padding-bottom: 68px;
}

.wel__pic {
    margin-top: 4px;
    margin-left: 0px;
}

.wel__info {
    margin-top: 11px;
}

.wel__title {
    font-family: "Inter", Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.wel__title-word {
    color: #499A18;
}

.wel__desc {
    padding-top: 7px;
    font-family: "Inter", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin-bottom: 48px;
}

.wel__sumbut {
    width: 158px;
    height: 44px;
    font-family: "Inter", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #010201;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #E06733;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.wel__sumbut:hover {
    background-color: #cbebb7;
    border: 2px solid #cbebb7;
    transform: scale(1.1);
}

/* welcome styles end */

/* about styles start */


.about__wrap {
    margin-bottom: 94px;
}

.about__plants {
    display: flex;
    justify-content: space-between;
}

.about__info {
    margin-right: 150px;
}

.about__title {
    max-width: 463px;
    font-family: 'Inika';
    font-size: 40px;
    line-height: 52.15px;
    margin: 2px 0 40px 0;
}

.about__pic {
    margin-top: -66px;
}

.green-word {
    color: #499A18;
}

.orange-word {
    color: #E06733;
}

.about__pic img {
    float: right;
}



/* about styles end */


/* service styles start */

.service {
    background: #EDF2EC;
    margin: 0 auto;
}

.service-h2 {
    width: 306px;
    margin-right: 142px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;

}

.h2__buttons {
    max-width: 1007px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 47px;
    padding-top: 8px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}

.btn {
    width: 161px;
    height: 50px;
    margin-right: 38px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding: 12px 40px;
    border-radius: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.btn:last-child {
    margin-right: 0;
}

.btn:hover {
    transform: scale(1.05);
}

.btn_bordered {
    color: #E06733;
    border: 1px solid #E06733;
}

.btn_selected {
    color: #FFFFFF;
    background-color: #E06733;
    border: 1px solid #E06733;
    transform: scale(1.05);
}


.service__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 117px;
    row-gap: 53px;
    padding-bottom: 122px;
}

.service__card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
}

.service__card-focus {
    filter: blur(2px);
}


.service__info {
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
}

.service__desk {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: "Inter", Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.service__text {
    margin-bottom: 36px;
    font-family: "Inter", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;

}

.service__thumb {
    height: auto;
    width: 100%;
    object-fit: cover;
}


/* service styles end */


/* prices styles start */

.prices__wrapper {
    padding-top: 2px;
    padding-bottom: 77px;
}

.prices__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prices__choice {
    width: 332px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    
}

.prices__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
    margin-bottom: 60px;
}

.prices__items {
    width: 250px;
    background: #EDF2EC;
    border-radius: 20px;
    margin-bottom: 32px;
}

.prices__items:last-child {
    margin-bottom: 0px;
}

.prices__item {
    width: 100%;
    height: 50px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-top: 1px;
    cursor: pointer;
}

.active-price {
    position: relative;
    background: #D6E7D2;
    border-radius: 20px 20px 0px 0px;
}

.prices__item_title {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-top: 16px;

}

.prices__item_title::after {
    content: url(../img/accordion_btn.svg);

    padding-left: 154px;
    position: absolute;
}

.prices__buttons {
    width: 332px;
    padding-left: 39px;
    padding-top: 31px;
    margin-bottom: 35px;
}

.prices__open {
    width: 250px;
    background: #D6E7D2;
    border-radius: 0px 0px 20px 20px;
    padding-bottom: 10px;
    display: none;
}

.price-show {
    display: block;
    transition: 0.2s;
}

.prices__open_border {
    margin-left: 20px;
    width: 80%;
    height: 1px;
    background: #AEA1a1;
}

.prices__open_text {
    width: 169px;
    font-family: "Inter", Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    color: #717171;
    margin-bottom: 6px;
    margin-left: 20px;
}

.prices__open_section-prace {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    margin-left: 20px;
}

.prices__open_currency {
    color: #E06733;
    margin-right: 10px;
}

.prices__open_hour {
    margin-left: 10px;
}

.prices__open_about {
    background: #ffffff;
    border-radius: 10px;
    padding: 3px 20px;
    font-family: "Inter", Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    margin-left: 10px;
}




.prices__description__block {
    text-align: right;
    
}

.prices__description__title {
    max-width: 452px;
    margin-top: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #000000;
    margin-bottom: 41px;
}

.green__title-word {
    color: #499A18;

}

.prices__button {
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    background: #FFFFFF;
    text-align: center;
    color: #E06733;
    margin-bottom: 39px;
}

.prices__pic {
    margin-top: -7px;
    text-align: right;


}

.prices__button {
    transition-duration: 0.5s;
}

.prices__button:hover {
    background-color: #cbebb7;
    border: 2px solid #cbebb7;
    transform: scale(1.1);
}


/* prices styles end */



/* contacts styles end */

.contacts {
    background: #EDF2EC;
    margin-bottom: 41px;
}

.contacts__title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    color: #499A18;
    padding-top: 61px;
    text-align: center;
}

.contacts__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts__pic {
    margin-top: -92px;

}

.contacts__pic__min {
    width: 100%;
}

.contacts__city__wrapper {
    margin-left: 1px;
    margin: 0 auto;
    padding-top: 6px;
    position: relative;
}


.select__header {
    display: flex;
    background: #D6E7D2;
    height: 45px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.select__header-activ {
    background: #c1e698;
}

.select__curent {
    width: 207px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    padding: 1px 20px;
    color: #717171;
}

.select__icon-pic {
    margin: 12px 30px 5px 195px;
}

.select__icon-pic-activ {
    margin: 12px 30px 5px 195px;
    display: none;
}


.contacts__city__wrapper.is-activ .select__body {
    display: block;
}

.select__body {
    display: none;
    cursor: pointer;
    background: #dce9d9;
    position: absolute;
    left: 0;
    right: 0;
    
    padding-left: 20px;
    padding-top: 26px;
    padding-bottom: 26px;
    border: 1px solid #dce9d9;
}

.select__item {
    width: 380px;
    padding-left: 26px;
    margin-bottom: 12px;
    font-family: 'Inter', Verdana, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #499A18;
    position: relative;
    border-bottom: 1px solid #D9D9D9;
    transition: 0.9s;
}

.select__item:hover {
    color: #717171;
    border-bottom: 1px solid #717171;
}

.Canandaigua, .Yonkers, .Sherrill, .New__York {
    display: none;
}

.Canandaigua.Canandaigua-activ {
    display: block;
}

.New__York.New__York-activ {
    display: block;
}

.Yonkers.Yonkers-active {
    display: block;
}

.Sherrill.Sherrill-activ {
    display: block;
}

.adress-city {
    position: absolute;
    margin: 30px 10px;
    margin-left: 1px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding-bottom: 24px;
    display: none;
}

.adress-city__block {
    padding: 13px 51px;
}

.adress-city__block_city {
    display: flex;
    flex-direction: row;
}

.city-title {
    margin-right: 85px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.adress-city__block_phone {
    display: flex;
    flex-direction: row;
}

.city-phone {
    margin-right: 68px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.adress-city__block_adress {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.city-adress {
    margin-right: 13px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.city-text, .phone-text, .adress-text {
    margin-right: 93px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #717171;
}

.btn-tel {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    border: 1px solid #E06733;
    border-radius: 5px;
    padding: 7px 49px;
    margin-left: 90px;
    margin-bottom: 24px;
    color: #717171;
    text-decoration: none;
}




/* contacts styles end */



/* footer styles start */

.footer__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.footer__logo {
    display: flex;
}

.footer__pic {
    margin-right: 24px;
}


.footer__year {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    margin-right: 20px;
}

.footer__github {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    text-decoration: none;
}

.footer__link {
    margin-right: -16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    transition: 0.5s;
    text-decoration: none;
}

.footer__link:hover,
.footer__media:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.footer__nav {
    margin-right: -4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

.footer__media {
    padding-top: 9px;
}


/* footer styles end */











/* media start */
@media screen and (max-width: 1280px) {

    .wrapper {
        padding: 25px 15px 40px 15px;
    }

}



@media screen and (max-width: 950px) {

    .wrapper {
        padding: 25px 5px 40px 5px;
    }

    .header__wrapper {
        padding: 25px 15px 0px 15px;
    }

    .service__card {
        grid-column: span 3;
    }

    .about__info {
        margin-right: 5px;
    }

    .welcome__wel {
        column-gap: 20px;
    }

    .service-h2 {
        margin-bottom: 20px;
    }

    .contacts__city__wrapper {
        padding-top: 4px;

    }

    .contacts__city__wrapper::before {
        top: 13px;

    }

    .service__cards {
        padding-bottom: 20px;
    }




}

@media screen and (max-width: 768px) {

    .wrapper {
        max-width: 668px;
        padding: 0;
    }

    .header__wrapper {
        padding: 38px 3px 0px 0px;
    }

    .header__logo {
        margin-top: -4px;
        margin-left: -3px;
    }

    .welcome {
        margin-bottom: 40px;
    }

    .welcome__wel {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 47px;
        padding-top: 88px;
        padding-bottom: 70px;
    }

    .wel_pic {
        grid-column: 2 / span 2;
    }

    .wel__info {
        margin-top: 70px;
        margin-left: 5px;
        grid-column: 1 / span 1;
    }

    .wel__thumb {
        margin-top: 91px;
        width: 280px;
        height: 254.15px;
    }

    .wel__title {
        margin-left: -5px;
        margin-bottom: 32px;
        font-size: 35px;
    }

    .wel__sumbut {
        margin-left: -4px;
    }

    .wel__desc {
        margin-right: 1px;
        padding-top: 1px;
        margin-bottom: 34px;
        font-size: 16px;
        line-height: 25px;
    }

    .about__wrap {
        margin-bottom: 94px;
    }

    .about__thumb {
        width: 250px;
        height: 258px;
    }

    .about__plants {
        flex-direction: column;
    }

    .about__info {
        margin-right: 0;
    }

    .about__title {
        max-width: 668px;
        padding-left: 122px;
        padding-right: 123px;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        margin: 1px 0 50px 0;
    }

    .about__desc {
        margin-bottom: 134px;
    }

    .about__pic {
        text-align: center;
    }

    .about__pic img {
        float: none;
    }


    .service__wrapper {
        padding-top: 21px;
    }

    .service-h2 {
        font-size: 35px;
        line-height: 46px;
        margin-right: 412px;
        margin-bottom: 42px;
    }

    .h2__buttons {
        margin-bottom: 40px;
    }

    .buttons {
        margin-top: 0;
        flex-wrap: wrap;
    }


    .service__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 106px;
        row-gap: 38px;
        padding-bottom: 70px;
    }

    .service__card {
        grid-column: span 1;
        width: 280px;
        height: 450px;
    }

    .service__thumb {

        width: 280px;
        height: 350px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    .service__text {
        padding-left: 37px;
        padding-right: 39px;
        margin-bottom: 20px;
    }

    .service__desk {
        margin-bottom: 9px;
    }

    .btn {
        width: 160px;
        height: 50px;
        margin-right: 40px;
    }

    .btn:last-child {
        margin-right: 0;
    }

    .prices__wrapper {
        padding-bottom: 54px;
    }

    .prices__info {
        padding-top: 34px;
    }

    .prices__title {
        margin-top: 4px;
        margin-left: 15px;
        margin-bottom: 56px;
        font-size: 35px;
        line-height: 42px;
    }

    .prices__description__title {
        font-size: 25px;
        line-height: 35px;
    }

    .prices__thumb {
        width: 152px;
        height: 174.98px;
    }

    .prices__description__block {
        width: 296px;
        margin-top: 105px;
    }

    .prices__description__title {
        margin-bottom: 27px;
    }

    .contacts {
        margin-bottom: 35px;
    }

    .contacts__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contacts__title {
        padding-top: 40px;
        margin-right: 6px;
        margin-bottom: 100px;
    }

    .contacts__pic {
        margin-right: -18px;
        margin-top: -56px;
    }

    .contacts__pic__min {
        width: 200px;
        height: 248.49px;
    }

    .contacts__city {

        margin-bottom: 309px;
    }

    .contacts__city-form {
        width: 450px;
    }

    .contacts__city__wrapper::before {
        left: 88%;
    }

    .contacts__city-form {
        padding-left: 17px;
    }

    .footer__items {
        flex-direction: column;
    }

    .footer__logo {
        margin-top: -1px;
        justify-content: center;
    }

    .footer__pic {
        margin-left: -3px;
        margin-right: 22px;
    }

    .footer__year {
        margin-right: 25px;
        line-height: 24px;
    }


    .footer__github {
        line-height: 24px;
    }

    .footer__link {
        text-align: center;
        line-height: 24px;
        margin-top: 15px;
        margin-right: 0px;

    }

    .footer__nav {
        display: flex;
        justify-content: center;
        margin-right: 2px;
        margin-top: 15px;
    }

}

@media screen and (max-width: 680px) {
    .service__card {
        grid-column: span 2;
    }

    .wrapper {
        padding: 25px 5px 40px 5px;
    }

    .service-h2 {
        margin-right: 0px;

    }

    .prices__info {
        justify-content: center;
    }

    .service__cards {
        justify-items: center;
    }

    .contacts__city-form {
        width: 300px;
    }
}




@media screen and (max-width: 520px) {

    .header__item {

        margin-right: 27px;
    }

    .wel__pic {
        display: none;
    }

    .wel__info {
        margin-top: 100px;
    }


}







@media screen and (max-width: 380px) {

    .wrapper {
        max-width: 330px;
        padding: 0;
    }

    .header__wrapper {
        padding: 37px 0px 0px 0px;
    }

    .header__burger {
        display: block;
        margin-right: 0;
        margin-top: -8px;
    }

    .header__nav {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #EDF2EC;
        position: fixed;
        z-index: 10;
        padding: 75px;
        transform: translateX(100%);
        transition: .5s;
        display: block;
    }

    .header__nav_active {
        transform: translateX(0);
    }

    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__item:last-child {
        margin-bottom: 0px;
    }

    .header__link {
        font-size: 42px;
        line-height: 48px;
    }

    .header__nav-close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        left: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        position: absolute;
        top: 50%;

    }

    .header__nav-close-line:first-child {
        transform: rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: rotate(-45deg);
    }

    .welcome {
        margin-bottom: 29px;
    }

    .welcome__wel {
        padding-bottom: 24px;
        padding-top: 62px;
    }

    .wel__info {
        margin-top: 58px;
        margin-left: 0px;
        grid-column: 1 / span 1;
    }

    .wel__title {
        margin-left: 0px;
        margin-bottom: 19px;
        font-size: 25px;
        line-height: 35px;
    }

    .wel__pic {
        display: none;
    }

    .wel__desc {
        margin-bottom: 25px;
    }

    .wel__sumbut {
        width: 100px;
        height: 34.14px;
        font-size: 10px;
        line-height: 20px;
        margin-left: 0px;
    }

    .about__wrap {
        margin-bottom: 27px;
    }

    .about__title {
        font-size: 25px;
        line-height: 33px;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 13px;
    }

    .about__desc {
        margin-bottom: 67px;
        font-size: 15px;
        line-height: 25px;
    }

    .about__thumb {
        width: 150px;
        height: 154px;
    }


    .service-h2 {
        max-width: 187px;
        font-size: 25px;
        line-height: 33px;
        margin-bottom: 39px;
    }

    .h2__buttons {
        padding-top: 8px;
    }

    .buttons {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .btn {
        margin-right: 10px;
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 9px;
        padding: 4px 11px;
    }

    .btn:last-child {
        margin-bottom: 0px;
    }

    .service__cards {
        row-gap: 34px;
        padding-bottom: 27px;
    }

    .service__card {
        width: 280px;
        height: 450px;
        grid-column: span 2;
    }

    .service__text {
        margin-bottom: 18px;
        margin-top: 9px;
    }

    .service__info {
        width: 100%;
    }

    .service-h2 {
        margin-right: 2px;
    }

    .prices__choice {
        display: flex;
        justify-content: center;
        width: 225px;
    }

    .prices__title {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin-top: -10px;
        margin-left: -3px;
        margin-bottom: 37px;
    }

    .prices__buttons {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 224px;
        height: 235px;
        padding-left: 0px;
        padding-top: 0px;
        margin-bottom: -3px;
    }

    .prices__items {

        width: 180px;
        margin-bottom: 13.92px;
    }

    .prices__items:first-child {
        margin-top: 27px;
    }

    .prices__item {
        padding-left: 30px;
        padding-top: 15px;
    }

    .prices__item_title {
        margin-top: 0px;
        font-size: 15px;
        line-height: 20px;
    }

    .prices__item_title::after {
        padding-left: 93px;
        padding-top: 5px;
    }

    .prices__description__block {
        width: 230px;
        margin-top: 0px;
        text-align: center;
        margin-bottom: 0px;
    }

    .prices__description__title {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 19px;
        margin-top: 22px;
    }

    .prices__button {
        margin-left: -4px;
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 19px;
    }

    .prices__pic {
        display: none;
    }

    .contacts {
        height: 446px;
        margin-bottom: 23px;
    }

    .contacts__title {
        padding-top: 26px;
        margin-bottom: 81px;
        font-size: 25px;
        line-height: 33px;
    }


    .contacts__city__wrapper {
        width: 300px;
    }

    .contacts__city {
        margin-bottom: 133px;

    }

    .select__icon-pic {
        margin: 12px 17px 5px 53px;
       
    }

    .select__icon-pic-activ {
        margin: 12px 17px 5px 53px;
        
    }

    .select__item {
        width: 300px;
    }
    .contacts__city__wrapper::before {
        left: 90%;
    }

    .contacts__pic {
        margin-right: 8px;
        margin-top: 0;
    }

    .contacts__pic__min {
        width: 100px;
        height: 124.25px;
    }

    .footer__logo {
        margin-top: -1px;
        padding-left: 0px;
    }

    .footer__link {
        margin-left: -4px;
        margin-right: 0px;

    }

    .footer__pic {
        margin-left: -4px;
        margin-right: 21px;
    }

    .footer__year {
        margin-right: 22px;
    }

    .footer__items {
        margin-bottom: 0;
    }

    .footer__nav {
        margin-top: 2px;
    }

    .adress-city {
        background: #EDF2EC;
        padding-bottom: 0px;
    }

    .adress-city__block{
        max-width: 282px;
        padding: 23px 36px;
    }

    .city-title {
        margin-right: 22px;
    }
    .city-phone {
        margin-right: 5px;
    }
    .city-adress {
        margin-right: 15px;
        line-height: 20px;
    }
    .select__curent {
        font-size: 16px;
    }
    .btn-tel {
        padding: 7px 38px;
        margin-left: 45px;
    }

    .city-text, .phone-text, .adress-text {
        margin-right: 0px;
    }
    .adress-text{
        line-height: 20px;
    }

    .adress-city__block_adress {
        margin-bottom: 17px;
    }

    .select__body {
        padding-left: 0px;
        
        padding-bottom: 18px;
    }

    .contacts__pic-active {
        display: none;
    }

}



@media screen and (max-width: 340px) {

    .wrapper {
        max-width: 300px;
        padding: 0;
    }

}

/* media end */